{% extends 'base.html' %}
{% block about %}
<div class="col-md-6">
<h2><i class="fa fa-info-circle"></i> About app</h2>

<p><li>GNS Testing Tool создана для работы с тестовой документацией, в частности с чеклистами.
<p><li>Для использования сервиса необходимо пройти процесс регистрации. Никакого подтверждения аккаунт не требует.
<br>Однако, не забывайте свой пароль ибо его восстановление невозможно. В случае утери пароля, зарегистрируйте другой аккаунт. Не регистрируйте аккаунты с одинаковой почтой или логином ибо на это нет валидации, что повлечёт за собой ошибку системы.
<p><li> После логина вам станут доступны основные функциональные разделы/страницы: Create checklist и List of cases.
<p><li>На странице Create checklist можно создать чеклист.
<p><li>На странице List of cases отображаются все созданные и пройденные чеклисты.
<p>В системе есть всего 2 состояния чеклистов (Active | Completed), активные листы, это те которые ещё не пройдены, а 
<br>завершённые находятся в статусе completed. 
<p><li>Завершить активный чеклист можно с помощью кнопки Finish checklist, которая изменит статус сущности на Completed.
<p><li>Так же есть возможность перезапустить чеклист, нажав на кнопку Restart (страница List of cases), после чего
<br>поля pass/fail и note сбрасываются, а так же сущность переходит в статус Active.
<p><li>При ошибочном создании чеклиста есть возможность его удаления, если он находится в статусе Active (кнопка-крестик на странице List of cases).
<p><li>Получить отчёт, можно путём нажатия на кнопку Save Report.
<p><li>Залогиненным пользователям доступны все чеклисты системы в независимости от проекта или аккаунта создателя.
<p><li>При необходимости, несколько человек могут проходить один чеклист одновременно. Однако, функция ассайна степов/action отсутствует, поэтому пункты нужно грамотно разделять. 
</div>
{% endblock %}